body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Helvetica, sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -150px 0 150px rgba(0, 0, 0, 10),
    inset 150px 0 150px rgba(0, 0, 0, 10);

  pointer-events: none;
}

.slider-title {
  position: absolute;
  font-size: 80px;
  font-weight: 900;
  color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0;
}

.slider-title.visible {
  opacity: 1;
}

canvas {
  display: block;
}
